@page "/material/create"
@* TODO vraag 4 *@
@attribute [Authorize(Roles = "Administrator")]

<h1 class="title">Materials <small>Create</small></h1>

@* TODO: Vraag 6 Create *@
<EditForm Model="@_material" OnValidSubmit="@SubmitForm">
    <FluentValidationValidator/>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            @* TODO: Vraag 6 Create *@
            <InputText @bind-Value="_material.Name" class="input"/>
            <ValidationMessage For="() => _material.Name"/>
            @* <input class="input" /> *@
        </div>
    </div>

    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            @* TODO: Vraag 6 Create *@
            <InputTextArea @bind-Value="_material.Description" rows="5" class="textarea"></InputTextArea>
            <ValidationMessage For="() => _material.Description"/>
        </div>
    </div>

    <div class="buttons">
        <button class="button is-link is-fullwidth" type="submit">Create</button>
        <a href="/" class="button is-link is-light is-fullwidth">Cancel</a>
    </div>
</EditForm>
