@page "/material/create"
@attribute [Authorize(Roles = "Administrator")]
<h1 class="title">Materials <small>Create</small></h1>

<EditForm Model="@material" Context="editFormContext" OnSubmit="@SubmitForm">
    <FluentValidationValidator />
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <InputText @bind-Value="material.Name" class="input"></InputText>
            <ValidationMessage For="() => material.Name"/>
        </div>
    </div>

    <div class="field">
        <label class="label">Description</label>
        <div class="control">
            <InputTextArea @bind-Value="material.Description" class="textarea"></InputTextArea>
             <ValidationMessage For="() => material.Description"/>
        </div>
    </div>

    <div class="buttons">
        <button class="button is-link is-fullwidth" type="submit">Create</button>
        <a href="/" class="button is-link is-light is-fullwidth">Cancel</a>
    </div>
</EditForm>