@using Blazored.Toast.Configuration
@inherits LayoutComponentBase

<Header/>
@* TODO: vraag 7 notification *@
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />
<section class="section">
    <div class="container">
        @Body
    </div>
</section>