@page "/member/create"
@* TODO: vraag 4 *@
@attribute [Authorize(Roles = "Administrator")]

<h3 class="title">
    Add Member
</h3>

@* TODO: Vraag 6 Create *@
<EditForm Model="@model" Context="editFormContext" OnValidSubmit="@CreateMemberAsync">
    <FluentValidationValidator />
    <div class="columns">
        <div class="column">
            <div class="field">
                <label class="label">Gender</label>
                <div class="select is-fullwidth">
                    @* TODO: Vraag 6 Create *@
                    <InputSelect @bind-Value="model.Gender" >
                        <option>Male</option>
                        <option>Female</option>
                        <option>Other</option>
                    </InputSelect>
                    <ValidationMessage For="() => model.Gender"/>
                </div>
            </div>

            <div class="field">
                <label class="label">Firstname</label>
                <div class="control">
                    @* TODO: Vraag 6 Create *@
                    <InputText @bind-Value="model.Firstname" class="input"></InputText>
                    <ValidationMessage For="() => model.Firstname"/>
                    @* <input class="input"/> *@
                </div>
            </div>

            <div class="field">
                <label class="label">Lastname</label>
                <div class="control">
                    @* TODO: Vraag 6 Create *@
                    <InputText @bind-Value="model.Lastname" class="input"></InputText>
                    <ValidationMessage For="() => model.Lastname"/>
                    @* <input class="input" /> *@
                </div>
            </div>
        </div>
            <div class="column">
                <div class="field">
                    <label class="label">Date of birth</label>
                    <div class="control">
                        @* TODO: Vraag 6 Create *@
                        <InputDate @bind-Value="model.DateOfBirth" class="input"></InputDate>
                        <ValidationMessage For="() => model.DateOfBirth"/>
                        @* <input class="input"/> *@
                    </div>
                </div>
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        @* TODO: Vraag 6 Create *@
                        <InputText @bind-Value="model.Email" class="input"></InputText>
                        <ValidationMessage For="() => model.Email"/>
                        @* <input class="input"/> *@
                    </div>
                </div>

                <div class="field">
                    <label class="label">Phone</label>
                    <div class="control">
                        @* TODO: Vraag 6 Create *@
                        <InputText @bind-Value="model.Phone" class="input"></InputText>
                        <ValidationMessage For="() => model.Phone"/>
                        @* <input class="input"/> *@
                    </div>
                </div>
            </div>
    </div>



    <div class="field is-grouped is-grouped-right">
        <div class="control">
            <button class="button is-link is-fullwidth" type="submit">
                Add
            </button>
        </div>

        <div class="control">
            <a href="/" class="button is-link is-light is-fullwidth">
                Cancel
            </a>
        </div>
    </div>
@* TODO: Vraag 6 Create *@
</EditForm>
